.container {
  margin-top: 3rem;
  min-width: 10rem;
  min-height: 10rem;
  border: .4rem solid #92c7e6;
  margin: 1rem 1rem;
  width: 50rem;
  height: 30rem;
  position: fixed;
}


.office_container .name {
  margin-top: .3rem;
  color: #44889d;
  font-weight: 600;
  font-size: 1.2rem ;
}

.dc_container .name {
  margin-top: .3rem;
  color: black;
  font-weight: 600;
  font-size: 1.2rem ;
}

.dc_container .status {
  text-align: center;
}
