.container {
  margin-top: 3rem;
  min-width: 10rem;
  min-height: 10rem;
  border: .4rem solid #92c7e6;
  margin: 1rem 1rem;
  width: 50rem;
  height: 30rem;
  position: fixed;
}


.dc_container {

}

.dc_container .name {
  margin-top: .5rem;
  color: black;
  font-weight: 600;
  font-size: 1.2rem ;
}
