<div class="example_header">
  <div class="git">
    <a href="https://github.com/srednicki95/am_samples/tree/master/src/app/dashboard/lazy-load"><img class="img" src="../../../assets/github-icon.png">GitHub link</a>
  </div>
  <div class="description">
    Lazy load example:
  </div>
</div>
<button (click)="getInfo()">GetInfo</button>

<div *ngIf="mapService.isLoaded" class="container">
  <am-map  [_id]="'map'">
    <!--That's very important input, without this your map don't will be show-->
  </am-map>
</div>
