
<div class="header">
  <div class="links">
    <a href="https://github.com/Acaisoft/angular-azure-maps">
      <img class="img" src="../../assets/github-icon.png"></a>
    <a href="https://www.npmjs.com/package/@acaisoft/angular-azure-maps">
      <img class="img" src="../../assets/npm-logo.png"></a>
  </div>
  <h1 class="header_cnt">Welcome on Angular 6 Azure Map Wrapper Sample Page!</h1>
</div>

<span>Our examples:</span>
<div class="nav">
  <a routerLink="/lazyload">Lazy Load</a>
  <a routerLink="/simplepin">Simple Pin</a>
  <a routerLink="/customsprite">Custom Sprite</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

