/* You can add global styles to this file, and also import other style files */
a {
  font-weight: 600;
}

.img {
  width: 2rem;
  max-height: 2rem;
  margin-right: .3rem;
}

.example_header {
  position: relative;
  margin-bottom: 1rem;
}


.example_header .git {
  float: right;
}

.container {
  margin-top: 1rem;
  min-width: 10rem;
  min-height: 10rem;
  border: .4rem solid #92c7e6;
  width: 50rem;
  height: 30rem;
}

.pulseMarker {
  background-image: url("assets/coffepin.png");
  width: 10rem;
  height: 10rem;
}


.element {
  animation: changeColor 5s infinite;
}


.pop_container {
  padding: .5rem .3rem;
}

.pulse {
  margin:100px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes changeColor {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #ffd21a;
  }
  100% {
    background-color: #FF4136;
  }
}

.lds-circle {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    background-color: #003069;

  }
  0% {
    transform: rotateY(0deg);
    background-color: #a85736;

  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    background-color: #45bb6a;

  }
  100% {
    transform: rotateY(3600deg);
    background-color: #2b5a6c;

  }
}
