/* You can add global styles to this file, and also import other style files */
a {
  font-weight: 600;
}

.img {
  width: 2rem;
  max-height: 2rem;
  margin-right: .3rem;
}

.example_header {
  position: relative;
  margin-bottom: 1rem;
}


.example_header .git {
  float: right;
}

.container {
  margin-top: 1rem;
  min-width: 10rem;
  min-height: 10rem;
  border: .4rem solid #92c7e6;
  width: 50rem;
  height: 30rem;
}

.supa {
  background-color: red;
}
